<div class="top-bar">
    <div class="tob-bar-title">GGC Admin Area</div>

    <div class="top-bat-left"> 
        <ul class="menu">
            <li class="admin-menu"><a [routerLink]="['/admin/blog-admin']">Manage Blog</a></li>
        </ul>
    </div>
    <div *ngIf = "theUser" class="top-bar-right">
        <ul class="menu">
            <li class="admin-menu"><a click="logout()">Logout</a></li>
            <li class="admin-menu"><a>{{theUser}} Logged in</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <img src="../adminShared/images/code.jpg" alt="">
</div>